<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AlterDB</a>
        <button class="navbar-toggler" type="button" (click)="switchCollapse()" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="collapsed" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bands" (click)="switchCollapse()">Zenekarok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bands/new" (click)="switchCollapse()">Új zenekar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/export" (click)="switchCollapse()">Exportálás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/site-log" (click)="switchCollapse()">Napló</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" (click)="switchCollapse()">Kapcsolat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Kilépés</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        <router-outlet></router-outlet>
    </div>
</div>