.thumbnail {
    display: block;
    max-width: 210px;
    max-height: 158px;
    width: auto;
    height: auto;
}

a {
    word-break: break-all;
}

.spinner-container {
    margin-top: 5rem;
}

.spinner-border {
    width: 5rem;
    height: 5rem;
}